@media screen and (max-width: 824px) {

    .main-top {
        display: flex;
        justify-content: space-between;
        color: aliceblue;
        flex-wrap: wrap;
    } 


    .card {
        width: calc(94%/4);
        text-align: center;
        color: aliceblue;
        margin-bottom: 10px;
    }

    
    .navbar {
        width: 150px;
      
    }

    .container {
        width: calc(100% - 150px);
       
    
        
    } 
    
}