@media screen and (max-width: 576px) {
.display-none {
    display: none;
}

.display-none1 {
    display: block;
    height: 50px;
}


.container {
    width: calc(100% - 50px);
    height: 100%;

    
}

.navbar {
    width: 50px;
    height: 100%;
    font-size: large;
    color: aliceblue;



    background-color: rgb(0, 0, 0);
}

}