@media screen and (max-width: 576px) {
.display-none {
    display: none;
}

.display-none1 {
    display: block;
    height: 50px;
}


.container {
    width: calc(100% - 50px);
    height: 100%;

    
}

.navbar {
    width: 50px;
    height: 100%;
    font-size: large;
    color: aliceblue;



    background-color: rgb(0, 0, 0);
}

.recent {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 2%;


}

.w100 {
    width: 100%;
    margin-bottom: 5px;
    
}

.card {
    width: calc(94%/2);
    text-align: center;
    color: aliceblue;
    margin-bottom: 10px;
}

}