* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* common */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* debug */


   background-color: gray;
}



/* NAV_BAR */
.navbar {
    width: 20%;
    height: 100%;
    
    

    background-color: violet;
}


.navbar-header{

    height: 15%;
    width: 100%;

    margin: 1px solid red;
    background-color: rgb(129, 34, 34);

}
.navbar-main {
    height: 70%;
    width: 100%;

    background-color: yellowgreen;

}

.navbar-footer{
    height: 15%;
width: 100%;

background-color: antiquewhite;

}



/* full-section */

.full-section {
    width: 100%;
    height: 90%;
    background-color: red;
    display: flex;
}



/* header */
.container {
    width: 80%;
    height: 100%;

    background-color: beige;
}

.header{
    width: 100%;
    height: 15%;
    background-color: black;
}


.main {
width: 100%;
height: 85%;

background-color: blue;
}

/* footer */

.footer{
    background-color: aquamarine;

    width: 100%;
    height: 10%;
}